<a href="https://colab.research.google.com/github/shopn0/SampleX/blob/main/Lab%20Walkthrough%20OOP(ii).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LAB 2**
30-01-2024 (week 2)

**Basics of number and string:**

In [ ]:
#Basic output
print("Good Morning.\nIt is OOPII Lab 2.")

#Basic input
val= input("Enter your value: ") #user input
print(val)
type(val) #python declares variables as STRING by default

#Printing data type
a=90
b=2.93
c="Tuesday"
print(type(a))
print(type(b))
print(type(c))

#String locations
str1= "Hello python. "
str2= "How are you?"
print(str1[0:2]) #string slicing
print(str1*2) #string multiply
print(str1+str2) #string concatenation

**List**

In [ ]:
list1= [1, "python", 69.5]
print(type(list1))
print(list1) #printing the whole list
print(list1[1]) #printing an element of the list
print(list1*2) #printing *x times
print(list1 + list1) #concatenation of lists

<class 'list'>
[1, 'python', 69.5]
python
[1, 'python', 69.5, 1, 'python', 69.5]
[1, 'python', 69.5, 1, 'python', 69.5]

**Tuple**

In [ ]:
tup= (0, "mamba", 69.5) #FACT: Python chooses tuple by default (without any parenthesis)
print(type(tup))
print(tup) #printing the whole tuple
print(tup[1]) #printing an element of the tuple
print(tup*2) #printing *x times
print(tup + tup) #concatenation

**Dictionary Data Type**

In [9]:
dic= {6:"Shopno", 'value':5.9, 4:"Alan Wake"}

print(type(dic))
print(dic)
#Printig dictionary elements
print("1st dictoinary item is: ",dic[6])
print("2nd item is: ",dic['value'])
#Accessing dictionary KEYS and VALUES
print(dic.keys())
print(dic.values())
print(dic.items()) # (Keys and their Values)
print(dic.get('value')) #getting a value through key
print(dic.get('level', "Not found.")) #if KEY not available then print: Not Found

<class 'dict'>
{6: 'Shopno', 'value': 5.9, 4: 'Alan Wake'}
1st dictoinary item is:  Shopno
2nd item is:  5.9
dict_keys([6, 'value', 4])
dict_values(['Shopno', 5.9, 'Alan Wake'])
dict_items([(6, 'Shopno'), ('value', 5.9), (4, 'Alan Wake')])
5.9
Not found.

**Set Data Type** {}

In [14]:
set1= set()

set2 = {"Name", "ID", "2024"}
print(type(set2))
print(set2) #Printig the set2

set1.add("ID")
set1.add(69)
print("Set1 after adding elements: ",set1)
set2.remove("Name")
print("Set2 after removing elements: ",set2)

#intersection between sets
intersection = set1.intersection(set2)
print("Common elements between set 1 and 2: ", intersection)

#difference
diff = set2.difference(set1)
print("Set 2 - Set 1 = ", diff)

#Union
union = set1 | set2     #alt: set1.union(set2)
print("Union of two sets: ", union)

<class 'set'>
{'ID', '2024', 'Name'}
Set1 after adding elements:  {'ID', 69}
Set2 after removing elements:  {'ID', '2024'}
Common elements between set 1 and 2:  {'ID'}
Set 2 - Set 1 =  {'2024'}
Union of two sets:  {'ID', '2024', 69}

**Python Keywords**

In [ ]:
import keyword
print("The set of keywords.")
print(keyword.kwlist)

help("keywords")

The set of keywords.
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

**Evaluation-1**

In [ ]:
#Loading..

**Numeric Literals**

In [ ]:
x = 0b10100 #Binary literals
y = 100
z = 0o213
u = 0x12d #Hexadecimal literal

#Float literal
float_1= 100.5
float_2= 1.5e2

#Complex literal
a= 5+3.14j

print("x:",x,"y:",y,"z:",z,"u:",u)
print("float_1:",float_1,"float_2:",float_2)
print(a, "Imaginary part:",a.imag, "Real part:", a.real)

x: 20 y: 100 z: 139 u: 301
float_1: 100.5 float_2: 150.0
(5+3.14j) Imaginary part: 3.14 Real part: 5.0

**String Literals**

In [ ]:
str1= '''This
gap
remains
'''
print(str1)

text1= "Hello\
 Together"
print(text1)

This
gap
remains

Hello Together

**Comparison operators**

In [ ]:
a=int(input("Enter value of a= "))
b=int(input("Enter value of b= "))

print("Equal? : ", a==b)
print("Not Equal? : ", a!=b)
print("Greater than or equal? :",a>=b)
print("Less than i=or equal? :",a<=b)
print("a Greater? : ", a>b)
print("is a Less than b? : ",a<b)

**Arithmetic Operators**

In [ ]:
a=int(input("Enter value of a= "))
b=int(input("Enter value of b= "))

print("Addition : ",a+b)
print("Reminder : ",a%b)
print("Exponent of two numbers : ",a**b)
print("Floor division of two numbers : ",a//b)

Enter value of a= 32
Enter value of b= 6
Addition :  38
Reminder :  2
Exponent of two numbers :  1073741824
Floor division of two numbers :  5

**Assignment Operators**

In [ ]:
a=int(input("Enter value of a= "))
b=int(input("Enter value of b= "))

print("a=b:",a==b)
print("a+=b:",a+b)
print("a-=b:",a-b)
print("a*=b:",a*b)
print("a%/b:",a%b)
print("a**=b:",a**b)
print("a//b:",a//b)

Enter value of a= 32
Enter value of b= 6
a=b: False
a+=b: 38
a-=b: 26
a*=b: 192
a%/b: 2
a**=b: 1073741824
a//b: 5

# **LAB 3**